<form method="post">
    <div class="form-group">
        <input type="text" placeholder="Name Az" name="CategoryName" />
        <input name="LangCode" type="hidden" value="Az" />
    </div>
    <div class="form-group">
        <input type="text" placeholder="Name Ru" name="CategoryName" />
        <input name="LangCode" type="hidden" value="Ru" />
    </div>
    <div class="form-group">
        <input type="text" placeholder="Name Eng" name="CategoryName" />
        <input name="LangCode" type="hidden" value="Eng" />
    </div>
    <input type="submit" value="Create" />
</form>